.presentation {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .container {
        display: flex;
        gap: 20px;
        .left {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            img {
                max-width: 100%;
            }
        }
    }
}

.Competences {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
