.presentation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.25rem;
    .container {
        display: flex;
        // align-items: center;
        gap: 1.25rem;
        .left {
            flex-direction: column;
            width: 50%;
            // display: flex;
            // justify-content: flex-start;
            // flex-direction: column;
            // width: 50%;
            img {
                max-width: 100%;
            }
        }
        .right {
            width: 50%;
        }
    }
}

.Competences {
    display: flex;
    background-image: url("../img/bgMetier.png");
    background-size: cover;
    flex-direction: column;
    h2 {
        color: $light;
    }
    .cards-comp {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-gap: 2rem;
    }
}
