.presentation {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
    width: 100%;
    background-image: url("../img/bg-about.png");
    background-size: cover;
    .container {
        max-width: 1280px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.25rem;
        padding: 3.125rem 0;
        z-index: 2;
        .left {
            flex-direction: column;
            img {
                max-width: 100%;
            }
        }
    }
}

.Competences {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
    width: 100%;
    background-image: url("../img/bgMetier.png");
    background-size: cover;
    flex-direction: column;
    h2 {
        color: $light;
    }
    .cards-comp {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 2rem;
        padding: 50px 0;
    }
}

.outils {
    max-width: 1280px;
    display: grid;
    width: 100%;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
    grid-template-areas:
        "solutions solutions"
        "intro intro"
        "dispo security"
        "simplicity economie";
    .solutions {
        grid-area: solutions;
    }
    .intro {
        grid-area: intro;
    }
    .dispo {
        grid-area: dispo;
    }
    .security {
        grid-area: security;
    }
    .simplicity {
        grid-area: simplicity;
    }
    .economie {
        grid-area: economie;
    }
}

.secteurs {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    img {
        height: 60%;
        margin: 0 auto;
        width: 60%;
    }
}

.contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px 0;
    iframe {
        padding: 20px;
        width: calc(50% - 5px);
    }
    .texte {
        margin: 20px 0;
        width: calc(50% - 5px);
        border-top: 2px solid $green;
        border-top-width: 100%;
        border-bottom: 2px solid $green;
        border-bottom-width: 100%;
    }
}
