.presentation {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
    width: 100%;
    background-image: url("../img/bg-about.png");
    background-size: cover;
    h2 {
        padding: 0 2.5rem;
    }
    .container {
        max-width: 1280px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 1.25rem;
        padding: 3.125rem 0;
        z-index: 2;
        padding: 0 2.5rem;
        p {
            padding: 0.5rem 0;
        }
        .left {
            img {
                max-width: 100%;
            }
        }
        .right {
            display: flex;
            flex-direction: column;
            a {
                align-self: flex-end;
                min-height: 2.5rem;
                background-color: $green;
                color: $dark-blue;
                padding: 0.5rem 1.25rem;
                border-radius: 0.625rem;
                transition: all 0.3s ease-in-out;
                &:hover {
                    transform: translateY(-0.25rem);
                }
            }
        }
    }
}

.Competences {
    width: 100%;
    background-image: url("../img/bgMetier.png");
    background-size: cover;
    .section-container {
        max-width: 1280px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        padding: 0 2.5rem;
        h2 {
            color: $light;
        }
        .cards-comp {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
            justify-content: center;
            grid-gap: 2rem;
            padding: 3.125rem 0;
        }
    }
}

.outils {
    max-width: 1280px;
    display: grid;
    width: 100%;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
    grid-template-areas:
        "solutions solutions"
        "intro intro"
        "dispo security"
        "simplicity economie";
    .solutions {
        grid-area: solutions;
    }
    .intro {
        grid-area: intro;
    }
    .dispo {
        grid-area: dispo;
    }
    .security {
        grid-area: security;
    }
    .simplicity {
        grid-area: simplicity;
    }
    .economie {
        grid-area: economie;
    }
}

.secteurs {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    img {
        height: 60%;
        margin: 0 auto;
        width: 60%;
    }
}

.contact {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
    width: 100%;
    background-image: url("../img/bg-contact.png");
    background-size: cover;
    padding: 6.25rem 1.25rem;
    h2 {
        color: $light;
    }
    .container {
        display: flex;
        justify-content: space-between;
        gap: 1.25rem;
        iframe {
            padding: 1.25rem 0;
            width: 50%;
        }
        .texte {
            margin: 1.25rem 0;
            padding: 1.25rem 0;
            width: 50%;
            border-top: 0.125rem solid $green;
            border-bottom: 0.125rem solid $green;
            .icon {
                display: flex;
                align-items: center;
                gap: 2rem;
                h3 {
                    color: $light;
                    font-size: 2rem;
                    font-weight: 400;
                }
            }
            .adr {
                padding: 1.25rem 0;
            }
            .call {
                padding: 1.25rem 0;
                .callToAction {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 0.75rem;
                    padding-top: 1.25rem;
                    justify-content: space-between;
                    a {
                        background-color: $green;
                        display: flex;
                        align-items: center;
                        gap: 1.25rem;
                        padding: 0 1.25rem;
                        border-radius: 0.625rem;
                        width: 15.875rem;
                        min-height: 2.5rem;
                        font-family: "montserrat";
                        font-weight: 500;
                        color: $dark-blue;
                        img {
                            max-height: 2.5rem;
                            max-width: 2.188rem;
                            animation: wiggle 2s linear infinite;
                        }
                        transition: all 0.3s ease-in-out;
                        &:hover {
                            transform: translateY(-0.25rem);
                        }
                    }
                }
            }
            p {
                color: $light;
            }
        }
    }
}

footer {
    background-color: $dark-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    padding: 2rem 0;
    img {
        height: 3.75rem;
    }
    p,
    a {
        color: $green;
        font-size: 1rem;
    }
}

@media screen and (max-width: 890px) {
    header {
        .title {
            .function {
                p {
                    font-size: 2rem;
                }
            }
        }
    }
}
@media screen and (max-width: 600px) {
    header {
        .title {
            h1 {
                font-size: 2.5rem;
            }
            .function {
                p {
                    font-size: 1.5rem;
                }
            }
        }
    }
}
@media screen and (max-width: 460px) {
    header {
        .title {
            .function {
                p {
                    font-size: 1rem;
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    header {
        .title {
            h1 {
                font-size: 2rem;
            }
            .function {
                p {
                    font-size: 0.8rem;
                }
            }
        }
    }
}
