/* Keyframes */
@keyframes wiggle {
  0% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  100% {
    transform: rotateZ(0);
  }
}
/*Font Family*/
@font-face {
  font-family: "didactGothic";
  src: url(../font/DidactGothic-Regular.ttf);
}
@font-face {
  font-family: "montserrat";
  src: url(../font/Montserrat-VariableFont_wght.ttf);
}
/*****RESET*****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat", "didactGothic", "DM Sans", "Lato", "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: "didactGothic";
  font-weight: 700;
  font-size: 4rem;
  line-height: 3rem;
  color: white;
}

h2 {
  font-family: "didactGothic";
  font-weight: 400;
  font-size: 3rem;
  color: #003764;
}

h3 {
  font-family: "didactGothic";
  font-size: 1.25rem;
  font-weight: 700;
  color: #96e6b3;
}

p {
  font-size: 1rem;
  color: #8c8c8c;
}

section {
  padding: 3.125rem;
}

a,
input,
button,
ul {
  border: none;
  text-decoration: none;
  cursor: pointer;
  list-style-type: none;
}
a:hover, a:focus, a:active,
input:hover,
input:focus,
input:active,
button:hover,
button:focus,
button:active,
ul:hover,
ul:focus,
ul:active {
  border: none;
  text-decoration: none;
  outline: none;
}

img {
  display: block;
}

@media screen and (max-width: 890px) {
  h2 {
    font-size: 2rem;
  }
  section {
    padding: 1.25rem;
  }
}
.cards {
  display: flex;
  flex-direction: column;
  height: 25rem;
  box-shadow: 5px 5px 1.25rem #003764;
}
.cards .title_card {
  background-color: #003764;
  display: flex;
  gap: 1.25rem;
  justify-content: center;
  align-items: flex-start;
  padding: 1.25rem 2.5rem;
  height: 30%;
}
.cards .title_card .title {
  display: flex;
  flex-direction: column;
}
.cards .title_card .title h3 {
  color: #96e6b3;
  font-size: 1.25rem;
}
.cards .title_card .title .subtitle span {
  color: #ef767a;
}
.cards .title_card img {
  width: 4.063rem;
  height: 3.75rem;
}
.cards .text {
  background-color: #f7f0f5;
  height: 100%;
}
.cards .text ul {
  padding: 1rem;
}
.cards .text ul li {
  line-height: 1.5rem;
}

.details {
  display: flex;
  flex-direction: column;
}
.details .title {
  display: flex;
  align-items: center;
  gap: 2%;
}
.details .title h3 {
  color: #003764;
  font-size: 1.875rem;
}
.details .text {
  color: #8c8c8c;
  margin-top: 2%;
}

header {
  background-image: url("../img/bg_header.webp");
  background-size: cover;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .main-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /*----- MENU BURGER -----*/
}
header .main-nav .burger-menu {
  cursor: pointer;
  display: none;
  position: fixed;
  top: 0.25rem;
  left: 0.25rem;
  border-radius: 0.313rem;
  width: 3.125rem;
  height: 3.125rem;
  background-color: #96e6b3;
  z-index: 9999;
}
header .main-nav .burger-menu span {
  position: absolute;
  display: block;
  width: 1.875rem;
  height: 2px;
  top: 50%;
  left: 50%;
  background-color: #003764;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}
header .main-nav .burger-menu span:before, header .main-nav .burger-menu span:after {
  content: "";
  position: absolute;
  display: block;
  width: 1.875rem;
  height: 2px;
  background-color: #003764;
  transition: all 0.3s ease-in-out;
}
header .main-nav .burger-menu span:before {
  top: -0.625rem;
}
header .main-nav .burger-menu span:after {
  top: 0.625rem;
}
header .main-nav nav {
  display: flex;
  align-items: center;
  max-width: 100%;
  padding: 0 1.25rem;
}
header .main-nav nav img {
  height: 3.75rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}
header .main-nav nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
header .main-nav nav ul li a {
  position: relative;
  transition: all 0.3s ease-in-out;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 1.25rem;
}
header .main-nav nav ul li a:hover {
  background-color: #96e6b3;
  color: #003764;
  transition: all 0.3s ease-in-out;
}
header .main-nav nav ul li a:hover::after {
  position: absolute;
  content: "";
  bottom: -1.563rem;
  left: 0px;
  width: 100%;
  height: 0.813rem;
  background-color: #96e6b3;
}
header .title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 70%;
}
header .title .function {
  display: grid;
  align-content: center;
  margin-top: 6.25rem;
  position: relative;
}
header .title .function::before, header .title .function::after {
  position: absolute;
  content: "";
}
header .title .function::before {
  border-bottom: 2px solid #96e6b3;
  border-left: 2px solid #96e6b3;
  width: 60%;
  height: 180%;
  left: -60px;
  bottom: -50px;
}
header .title .function::after {
  border-top: 2px solid #96e6b3;
  border-right: 2px solid #96e6b3;
  width: 60%;
  height: 180%;
  top: -125px;
  right: -60px;
}
header .title .function p {
  color: white;
  font-size: 3rem;
}
header .title .function p span {
  color: #ef767a;
}

@media screen and (max-width: 900px) {
  header .main-nav {
    /*BURGER*/
    /*NAVBAR*/
  }
  header .main-nav .burger-menu {
    display: block;
  }
  header .main-nav .burger-menu.burger-open span {
    background-color: transparent;
  }
  header .main-nav .burger-menu.burger-open span:before {
    transform: rotate(45deg);
    top: 0;
  }
  header .main-nav .burger-menu.burger-open span:after {
    transform: rotate(-45deg);
    top: 0;
  }
  header .main-nav nav {
    position: fixed;
    z-index: 50;
    top: 0;
    height: 100dvh;
    width: 100%;
    background-color: hsla(207, 100%, 10%, 0.8);
    transform: translateX(-100%);
    transition: all 1s ease;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  header .main-nav nav .logo {
    margin: 4rem auto;
  }
  header .main-nav nav.is-open {
    transform: translateX(0);
  }
  header .main-nav nav ul {
    width: 100%;
  }
  header .main-nav nav ul li {
    display: block;
    width: 100%;
    text-align: center;
  }
  header .main-nav nav ul li a {
    margin: 5px 0;
    font-size: 24px;
    padding: 0.25rem 0.5rem;
  }
  header .main-nav nav ul li a:hover::after {
    bottom: -0.6rem;
    height: 0.25rem;
  }
}
@media screen and (max-width: 425px) {
  header .title {
    height: 90%;
  }
  header .title .function {
    margin-top: 3.25rem;
  }
}
.presentation {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center;
  width: 100%;
  background: url("../img/top-about.svg") no-repeat top left, url("../img/bottom-about.svg") no-repeat bottom right;
}
.presentation h2 {
  padding: 0 2.5rem;
}
.presentation .container {
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.25rem;
  padding: 3.125rem 0;
  z-index: 2;
  padding: 0 2.5rem;
}
.presentation .container p {
  padding: 0.5rem 0;
}
.presentation .container .left img {
  max-width: 100%;
}
.presentation .container .right {
  display: flex;
  flex-direction: column;
}
.presentation .container .right a {
  align-self: flex-end;
  min-height: 2.5rem;
  background-color: #96e6b3;
  color: #003764;
  padding: 0.5rem 1.25rem;
  border-radius: 0.625rem;
  transition: all 0.3s ease-in-out;
}
.presentation .container .right a:hover {
  transform: translateY(-0.25rem);
}

.Competences {
  width: 100%;
  background-image: url("../img/bgMetier.webp");
  background-size: cover;
}
.Competences .section-container {
  max-width: 1280px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  margin: 0 auto;
  padding: 0 2.5rem;
}
.Competences .section-container h2 {
  color: #f7f0f5;
}
.Competences .section-container .cards-comp {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  justify-content: center;
  grid-gap: 2rem;
  padding: 3.125rem 0;
}

.outils {
  max-width: 1280px;
  display: grid;
  width: 100%;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  grid-template-areas: "solutions solutions" "intro intro" "dispo security" "simplicity economie";
}
.outils .solutions {
  grid-area: solutions;
}
.outils .intro {
  grid-area: intro;
}
.outils .intro span {
  font-weight: bold;
  color: #003764;
}
.outils .dispo {
  grid-area: dispo;
}
.outils .security {
  grid-area: security;
}
.outils .simplicity {
  grid-area: simplicity;
}
.outils .economie {
  grid-area: economie;
}

.secteurs {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
}
.secteurs img {
  height: 60%;
  margin: 0 auto;
  width: 60%;
}

.contact {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center;
  width: 100%;
  background-image: url("../img/bg-contact.webp");
  background-size: cover;
  padding: 6.25rem 1.25rem;
}
.contact h2 {
  color: #f7f0f5;
}
.contact .container {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
}
.contact .container iframe {
  padding: 1.25rem 0;
  width: 50%;
}
.contact .container .texte {
  margin: 1.25rem 0;
  padding: 1.25rem 0;
  width: 50%;
  border-top: 0.125rem solid #96e6b3;
  border-bottom: 0.125rem solid #96e6b3;
}
.contact .container .texte .icon {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.contact .container .texte .icon h3 {
  color: #f7f0f5;
  font-size: 2rem;
  font-weight: 400;
}
.contact .container .texte .adr {
  padding: 1.25rem 0;
}
.contact .container .texte .call {
  padding: 1.25rem 0;
}
.contact .container .texte .call .callToAction {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  padding-top: 1.25rem;
  justify-content: space-between;
}
.contact .container .texte .call .callToAction a {
  background-color: #96e6b3;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding: 0 1.25rem;
  border-radius: 0.625rem;
  width: 15.875rem;
  min-height: 2.5rem;
  font-family: "montserrat";
  font-weight: 500;
  color: #003764;
  transition: all 0.3s ease-in-out;
}
.contact .container .texte .call .callToAction a img {
  max-height: 2.5rem;
  max-width: 2.188rem;
  animation: wiggle 2s linear infinite;
}
.contact .container .texte .call .callToAction a:hover {
  transform: translateY(-0.25rem);
}
.contact .container .texte p {
  color: #f7f0f5;
}

footer {
  background-color: #003764;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.25rem;
  padding: 2rem 0;
}
footer img {
  height: 3.75rem;
}
footer p,
footer a {
  color: #96e6b3;
  font-size: 1rem;
}
footer p {
  padding: 1rem;
  text-align: center;
}

@media screen and (max-width: 890px) {
  header .title .function p {
    font-size: 2rem;
  }
  .presentation .container {
    grid-template-columns: inherit;
  }
  .Competences .section-container .cards-comp {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
  .outils {
    grid-template-rows: 1fr;
  }
  .contact {
    padding: 1rem;
  }
  .contact .container {
    flex-direction: column;
    align-items: center;
  }
  .contact .container .texte {
    width: 100%;
  }
  .contact .container .texte .call .callToAction {
    justify-content: center;
  }
  .contact .container iframe {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  header .title h1 {
    font-size: 2.5rem;
  }
  header .title .function p {
    font-size: 1.5rem;
  }
  .presentation h2 {
    padding: 0;
  }
  .presentation .container {
    padding: 0 0;
  }
}
@media screen and (max-width: 460px) {
  header .title .function p {
    font-size: 1rem;
  }
  .Competences .section-container {
    padding: 0 0;
  }
  .outils {
    width: 100%;
    grid-gap: 1rem;
    grid-template-areas: "solutions" "intro" "dispo" "security" "simplicity" "economie";
  }
  .outils .details .title {
    flex-direction: column;
  }
  .secteurs {
    padding: 1.25rem;
  }
  .secteurs img {
    height: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  header .title h1 {
    font-size: 2rem;
  }
  header .title .function p {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=main.css.map */