.cards {
    display: flex;
    flex-direction: column;
    // margin-top: 1.25rem;
    // width: 26rem;
    height: 25rem;
    box-shadow: 5px 5px 1.25rem $dark-blue;
    .title_card {
        background-color: $dark-blue;
        display: flex;
        gap: 1.25rem;
        justify-content: center;
        align-items: flex-start;
        padding: 1.25rem 2.5rem;
        // gap: 3.125rem;
        height: 30%;
        .title {
            display: flex;
            flex-direction: column;
            h3 {
                color: $green;
                font-size: 1.25rem;
            }
            .subtitle {
                span {
                    color: $orange;
                }
            }
        }
        img {
            width: 4.063rem;
            height: 3.75rem;
        }
    }
    .text {
        background-color: $light;
        height: 100%;
    }
}
