/*****RESET*****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", "Lato", "Roboto", sans-serif;
    margin: 0 auto;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 4rem;
    line-height: 3rem;
    color: white;
}

h2 {
    font-family: "Lato";
    font-weight: 400;
    font-size: 3rem;
    color: $dark-blue;
}

h3 {
    font-size: 1.25rem;
    font-weight: 700;
    color: $green;
}

section {
    padding: 3.125rem;
}

a,
input,
button,
ul {
    border: none;
    text-decoration: none;
    cursor: pointer;
    list-style-type: none;
    &:hover,
    &:focus,
    &:active {
        border: none;
        text-decoration: none;
        outline: none;
    }
}

img {
    display: block;
}
