/*Font Family*/

@font-face {
    font-family: "didactGothic";
    src: url(../font/DidactGothic-Regular.ttf);
}

@font-face {
    font-family: "montserrat";
    src: url(../font/Montserrat-VariableFont_wght.ttf);
}

/*****RESET*****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat", "didactGothic", "DM Sans", "Lato", "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: "didactGothic";
    font-weight: 700;
    font-size: 4rem;
    line-height: 3rem;
    color: white;
}

h2 {
    font-family: "didactGothic";
    font-weight: 400;
    font-size: 3rem;
    color: $dark-blue;
}

h3 {
    font-family: "didactGothic";
    font-size: 1.25rem;
    font-weight: 700;
    color: $green;
}

p {
    font-size: 1rem;
    color: $grey;
}

section {
    padding: 3.125rem;
}

a,
input,
button,
ul {
    border: none;
    text-decoration: none;
    cursor: pointer;
    list-style-type: none;
    &:hover,
    &:focus,
    &:active {
        border: none;
        text-decoration: none;
        outline: none;
    }
}

img {
    display: block;
}

@media screen and (max-width: 890px) {
    h2 {
        font-size: 2rem;
    }
    section {
        padding: 1.25rem;
    }
}
