/*****RESET*****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", "Lato", "Roboto", sans-serif;
  margin: 0 auto;
}

main {
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 4rem;
  line-height: 47px;
  color: white;
}

h2 {
  font-family: "Lato";
  font-weight: 400;
  font-size: 48px;
  color: #003764;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  color: #96e6b3;
}

section {
  padding: 50px;
}

a,
input,
button,
ul {
  border: none;
  text-decoration: none;
  cursor: pointer;
  list-style-type: none;
}
a:hover, a:focus, a:active,
input:hover,
input:focus,
input:active,
button:hover,
button:focus,
button:active,
ul:hover,
ul:focus,
ul:active {
  border: none;
  text-decoration: none;
  outline: none;
}

img {
  display: block;
}

.cards {
  display: flex;
  flex-direction: column;
  height: 25rem;
  box-shadow: 5px 5px 1.25rem #003764;
}
.cards .title_card {
  background-color: #003764;
  display: flex;
  gap: 1.25rem;
  justify-content: center;
  align-items: flex-start;
  padding: 1.25rem 2.5rem;
  height: 30%;
}
.cards .title_card .title {
  display: flex;
  flex-direction: column;
}
.cards .title_card .title h3 {
  color: #96e6b3;
  font-size: 1.25rem;
}
.cards .title_card .title .subtitle span {
  color: #ef767a;
}
.cards .title_card img {
  width: 4.063rem;
  height: 3.75rem;
}
.cards .text {
  background-color: #f7f0f5;
  height: 100%;
}

.details {
  display: flex;
  flex-direction: column;
}
.details .title {
  display: flex;
  align-items: center;
  gap: 2%;
}
.details .title h3 {
  color: #003764;
  font-size: 1.875rem;
}
.details .text {
  color: #8c8c8c;
  margin-top: 2%;
}

header {
  background-image: url("../img/bg_header.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .main-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .main-nav nav {
  max-width: 100%;
  padding: 0 1.25rem;
}
header .main-nav nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
header .main-nav nav ul li a {
  position: relative;
  transition: all 0.3s ease-in-out;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 1.25rem;
}
header .main-nav nav ul li a:hover {
  background-color: #96e6b3;
  color: #003764;
  transition: all 0.3s ease-in-out;
}
header .main-nav nav ul li a:hover::after {
  position: absolute;
  content: "";
  bottom: -1.563rem;
  left: 0px;
  width: 100%;
  height: 0.813rem;
  background-color: #96e6b3;
}
header .title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 70%;
}
header .title .function {
  display: grid;
  align-content: center;
  margin-top: 6.25rem;
  position: relative;
}
header .title .function::before, header .title .function::after {
  position: absolute;
  content: "";
}
header .title .function::before {
  border-bottom: 2px solid #96e6b3;
  border-left: 2px solid #96e6b3;
  width: 60%;
  height: 180%;
  left: -60px;
  bottom: -50px;
}
header .title .function::after {
  border-top: 2px solid #96e6b3;
  border-right: 2px solid #96e6b3;
  width: 60%;
  height: 180%;
  top: -125px;
  right: -60px;
}
header .title .function p {
  color: white;
  font-size: 3rem;
}
header .title .function p span {
  color: #ef767a;
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../img/bg-about.png");
  background-size: cover;
}
.presentation .container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  padding: 50px 0;
  z-index: 2;
}
.presentation .container .left {
  flex-direction: column;
}
.presentation .container .left img {
  max-width: 100%;
}

.Competences {
  display: flex;
  background-image: url("../img/bgMetier.png");
  background-size: cover;
  flex-direction: column;
}
.Competences h2 {
  color: #f7f0f5;
}
.Competences .cards-comp {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 1.25rem;
  padding: 50px 0;
}

.outils {
  display: grid;
  width: 100%;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  grid-template-areas: "solutions solutions" "intro intro" "dispo security" "simplicity economie";
}
.outils .solutions {
  grid-area: solutions;
}
.outils .intro {
  grid-area: intro;
}
.outils .dispo {
  grid-area: dispo;
}
.outils .security {
  grid-area: security;
}
.outils .simplicity {
  grid-area: simplicity;
}
.outils .economie {
  grid-area: economie;
}

.secteurs {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
}
.secteurs img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 100px 0;
}
.contact iframe {
  padding: 20px;
  width: calc(50% - 5px);
}
.contact .texte {
  margin: 20px 0;
  width: calc(50% - 5px);
  border-top: 2px solid #96e6b3;
  border-top-width: 100%;
  border-bottom: 2px solid #96e6b3;
  border-bottom-width: 100%;
}

/*# sourceMappingURL=main.css.map */
