header {
    background-image: url("../img/bg_header.png");
    background-size: cover;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .main-nav {
        display: flex;
        align-items: center;
        justify-content: space-around;

        /*----- MENU BURGER -----*/

        .burger-menu {
            cursor: pointer;
            display: none;
            position: fixed;
            top: 0.25rem;
            left: 0.25rem;
            border-radius: 0.313rem;
            width: 3.125rem;
            height: 3.125rem;
            background-color: $green;
            z-index: 9999;
            span {
                position: absolute;
                display: block;
                width: 1.875rem;
                height: 2px;
                top: 50%;
                left: 50%;
                background-color: $dark-blue;
                transform: translate(-50%, -50%);
                transition: all 0.3s ease-in-out;
                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 1.875rem;
                    height: 2px;
                    background-color: $dark-blue;
                    transition: all 0.3s ease-in-out;
                }
                &:before {
                    top: -0.625rem;
                }
                &:after {
                    top: 0.625rem;
                }
            }
        }

        nav {
            display: flex;
            align-items: center;
            max-width: 100%;
            padding: 0 1.25rem;
            img {
                height: 3.75rem;
                margin-top: 0.5rem;
                margin-right: 0.5rem;
            }
            ul {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                li {
                    a {
                        position: relative;
                        transition: all 0.3s ease-in-out;
                        color: white;
                        font-size: 1rem;
                        font-weight: 500;
                        padding: 1.25rem;
                        &:hover {
                            background-color: $green;
                            color: $dark-blue;
                            transition: all 0.3s ease-in-out;
                            &::after {
                                position: absolute;
                                content: "";
                                bottom: -1.563rem;
                                left: 0px;
                                width: 100%;
                                height: 0.813rem;
                                background-color: $green;
                            }
                        }
                    }
                }
            }
        }
    }
    .title {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        height: 70%;
        .function {
            display: grid;
            align-content: center;
            margin-top: 6.25rem;
            position: relative;
            &::before,
            &::after {
                position: absolute;
                content: "";
            }

            &::before {
                border-bottom: 2px solid $green;
                border-left: 2px solid $green;
                width: 60%;
                height: 180%;
                left: -60px;
                bottom: -50px;
            }
            &::after {
                border-top: 2px solid $green;
                border-right: 2px solid $green;
                width: 60%;
                height: 180%;
                top: -125px;
                right: -60px;
            }
            p {
                color: white;
                font-size: 3rem;
                span {
                    color: $orange;
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    header {
        .main-nav {
            /*BURGER*/
            .burger-menu {
                display: block;
                &.burger-open {
                    span {
                        background-color: transparent;
                        &:before {
                            transform: rotate(45deg);
                            top: 0;
                        }
                        &:after {
                            transform: rotate(-45deg);
                            top: 0;
                        }
                    }
                }
            }

            /*NAVBAR*/
            nav {
                position: fixed;
                z-index: 50;
                top: 0;
                height: 100dvh;
                width: 100%;
                background-color: hsla(207, 100%, 10%, 0.8);
                transform: translateX(-100%);
                transition: all 1s ease;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                .logo {
                    margin: 4rem auto;
                }
                &.is-open {
                    transform: translateX(0);
                }
                ul {
                    width: 100%;
                    li {
                        display: block;
                        width: 100%;
                        text-align: center;
                        a {
                            margin: 5px 0;
                            font-size: 24px;
                            padding: 0.25rem 0.5rem;
                            &:hover {
                                &::after {
                                    bottom: -0.6rem;
                                    height: 0.25rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    header {
        .title {
            height: 90%;
            .function {
                margin-top: 3.25rem;
            }
        }
    }
}
